@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
a{
  cursor: pointer;
}
nav a{
  color:black;
  text-decoration: none;
}
nav{
  width:100%;
  border-bottom: 1px solid grey;
  display: flex;
  height: 40px;
  padding:10px;
  background: seashell;;
  justify-content: space-between;
  align-items: center;
}
.rightnav{
  display: flex;
  font-size: .9em;
  align-items: center;
  justify-content: center;
}
.rightnav a{
  margin-left: 10px;
}
.logo{
  font-family: 'Grand Hotel', cursive;
  font-size: 29px;
}
form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

input{
  margin:10px 0 10px 0;
  border-radius: 10px;
  outline: none;
  border:1px solid grey;
  height: 35px;
  width: 100%;
}
input::placeholder{
  color:#8e8e8e;
}
.error{
  width: 90%;
  color: red;
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
}
form button{
  margin:15px 0 0 0;
  width:100px;
  height: 30px;
  border:1px solid grey;
  outline: none;
  background: #0095f6;
  color:white;
  font-weight: bold;}

.special{
  text-decoration: underline;
  color:#8e8e8e;
}
.signupcont .logo{
  font-size: 40px;
}
.signuptag{
  color:#8e8e8e;
  width: 80%;
  margin:20px 0 20px 0;
}
.signupcont{
  margin-top:30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.terms{
  margin:20px 0 20px 0;
  width: 80%;
  font-size: 12px;
  color:#8e8e8e;
  text-align:center;
}
.signuplink{
  margin-top:20px;
}
.directlink{
  color:#0095f6;
}
@media (min-width:700px){
  .signupcont{
    width: 400px;
  }
  .signuptag{
    font-size: 20px;
  }
  form input{
    height: 50px;;
  }
  form button{
    height:45px;
  }
  .terms{
    font-size:14px;
  }
}
.logout{
  height: 30px;
  outline: none;
  color:black;
  border: none;
  background: none;
  font-weight: bold;
}