.profilecont .profileimage img{
    border-radius: 50%;
    width: 116px;
    height: 110px;
}
.profilecont .profileimage{
    width: 200px;
    display: flex;
    justify-content: center;
    
    align-items: center;
}
.profilecont{
    display:flex;
    height:150px;
}
.profilecont .infocont{
    max-width: 613px;
}
.name{
    margin-right: 15px;
    color:rgba(var(--i1d,38,38,38),1);
}
.details,.profilecont .namecont{
    display:flex;
}
namecont{
    margin-bottom: 4px;
}
.details div{
    margin-right:10px;
    padding:3px;
}
.follow{
    border: 1px solid transparent;
    background-color: #0095f6;
    background-color: rgba(var(--d69,0,149,246),1);
    color:white;
    padding:3px;
}
.bio{
    margin-top: 5px;
    text-align: left;
}
.infocont{
    display:flex;
    justtify-content:center;
    align-items:center;
}

.profilecontainer header{
    display:flex;
}
.profilecontainer img{
    border-radius:50%;
    width:91px;
    height:91px;
}
.profilecont .infocont{
    width:100%;
}
.profilecontainer{
    padding:20px;
}
.profilecontainer .namecont{
    margin-left:29px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.profilecontainer{
    display:none;
}
.profilecontainer .infocont{
    margin-top:12px;
}
@media (max-width:679px){
    .profilecont{
        display:none;
    }
    .profilecontainer{
        display:block;
    }
}